
body{
  background-image: url(../img/Chinese-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:100%; !important;
  z-index: 0;
}

h1 ,h2{
     font-family:'Permanent Marker', cursive;
    /* left: 0; */
    font-size: 70px;
    /* line-height: 2000px; */
    /*margin: auto;*/
    /* margin-top: -100px; */
     /*position: center;*/
    /* top: 50%; */
    color: black;/*//whitw//*/
    /* width: 1000%; */
}

h3{
  font-family:'Permanent Marker', cursive;
  font-size: 30px;

}

h4{
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Lato', sans-serif;
}

/* Style the tab */
.tab {
    /* float: left; */
    border: 1px solid #ccc;
    background-color: rgba(234, 212, 147, 0.2);
    width: 30%;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 20px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(216, 197, 138);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: rgba(216, 197, 138, 0.5);
}

/* Style the tab content */
.tabcontent {
    /* float: left; */
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 70%;
    border-left: none;
    height: auto;
    position:relative;
}

.tabcontent span{position:absolute; right:0;}
/* .tabcontent span:before {
  content: '';
  border-bottom: dashed 1px black;
  flex:1;} */
